.heading {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #26ff00;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.widget {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    flex: 1;
    background-color: #fff;
}

button {
    margin-top: 10px;
    height: 42px;
    width: 80px;
    text-decoration: none;
    background-color: #95b7db;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

.delete-button {
    height: 30px;
    width: 100px;
    text-decoration: none;
    background-color: red;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h2 {
    font-size: 24px;
    color: #333;
}

input[type="text"] {
    height: 30px;
    width: 100%;
    padding: 5px;
    border: 1px solid #e68a8a;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 16px;
    margin-bottom: 10px;
    
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.product-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
}

.product-price {
    font-size: 16px;
    color: #007bff;
}

.product-description {
    font-size: 14px;
}
